body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#header {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100vw
}

#pointskey {
  visibility: hidden;
}

#heatmapkey {
  visibility: visible;
}

#heatmapkey, #pointskey {
  position: absolute;
  width: 80%;
  height: 6.8rem;
  text-align: left;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  font-family: sans-serif;
  font-family: Roboto;
  font-weight: 400;
  color: #282828;
}

#heatmapkeytext {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

#pointskeytext {
  font-size: 0.8rem;
  font-weight: 400;
  display: inline-block;
}

#heatmaptitlebox, #pointstitlebox {
  width: 100%;
}

#pointstitlebox {
  margin-bottom: 0.2rem;
}

#pointstitlebox h1, #heatmaptitlebox h1 {
  margin: 0;
  font-size: 1.6rem;
}

#pointstitlebox .subtitle, #heatmaptitlebox .subtitle {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

#gradientbox {
  background-image: linear-gradient(to right,
    rgb(223, 78, 0),
    rgb(255, 129, 19),
    rgb(255, 217, 80),
    rgb(255, 241, 188)
  );
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  margin: 0.3rem 0;
}

#orangedot {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: rgb(255, 170, 0);
  transform: translateY(2.5px);
  display: inline-block;
  margin-right: 0.2rem;
}

#map {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.maplibregl-popup {
  font-family: 'Roboto';
  font-weight: 400;
  max-width: 80%;
}

@media screen and (min-width: 575px) {
  #header {
    position: absolute;
    left: 2rem;
    display: inline-block;
    width: 30rem;
  }
}